<form class="form-signin" action= '/sessions' method="post">
  <h2 class="form-signin-heading">Please sign up</h2>
  <label for="input_first_name" class="sr-only">First name</label>
  <label for="input_last_name" class="sr-only">Last name</label>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="text" name= "user[first_name]" id="input_first_name" class="form-control" placeholder="First Name" required="" autofocus="">
  <input type="text" name= "user[last_name]" id="input_last_name" class="form-control" placeholder="Last Name" required="" autofocus="">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name= "user[password]"id="inputPassword" class="form-control" placeholder="Password" required=""
  <button class="submitButton" type="submit">Sign up</button>
</form>
